<% include ../partials/header %>
<div class="jumbotron">
<div class="container">
    <div class="animated slideInRight row">
        <h1 class="text-center">Edit Comment</h1>
        <div class="form-style">
        <form action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name ="comment[text]" value="<%= comment.text %>"></input>
            </div>
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
            <a href="/campgrounds">Back to campgrounds</a>
        </form>
        </div>
    </div>

</div>
</div>
