<% include partials/header %>
<link rel="stylesheet" href="/css/landing.css"/>
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h1 class="animated flipInX">Bon Appétit</h1>
              <h2><a class="btn btn-primary btn-lg second-h2" href="/campgrounds">Browse food</a></h2>
          </div>
      </div>
  </div>
<% include partials/footer %>
