@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Oswald|Roboto|Ubuntu');
body{
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
.header-title{
  font-family: 'Baloo Bhaijaan', cursive;
}
.campgrounds{
  font-family: 'Baloo Bhaijaan', cursive;
}
.most{
  padding-bottom: 30px;
}
.form-style {
    width: 80%;
    margin: 0 auto;
}
.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
  background-color: #eee;
  border-radius: 20px;
}
.thumbnail .caption-full {
  padding: 9px;
}
#delete-form{
  display: inline;
}
#profile-img{
  border-radius: 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.register-links li{
  font-size: 30px;
}
.logo img{
  width:50px;
  height:50px;
}
.logo-size{
  font-size: 30px;
  font-family: 'Baloo Bhaijaan', cursive;
  color: #29ADAD;
}
.navbar-brand{
  color: white;
}
.newfood{
  font-family: 'Ubuntu', sans-serif;
}
a:hover{
  text-decoration: none;
}
ul li:hover{
  background-color: #26CCD9;
}
.session-fonts{
  font-family: 'Baloo Bhaijaan', cursive;
}
#map {
    height: 400px;
    width: 100%;
}
/*Username in post top panel*/
.username{
  font-weight: 500;
}
.username-padding{
  padding-left: 5px;
  font-weight: 400;
  color: #29ADAD;
}
.food-description{
  color: #29ADAD;
}
.add-button{
  border-radius: 30px;
  background-color: #29ADAD;
}
.heart-color{
  color: #fff;
}
.heart-color:hover{
  color: red;
}
.glyphicon-heart{
  font-size: 25px;
}
.glyphicon-heart:active{
  color: red;
}
.popular{
  font-size: 40px;
  color: #fff;
}
.navbar-inverse .navbar-brand{
  color: #fff;
}
.top{
  background-color: black;
  margin-bottom: 20px;
  margin-top: -20px;
  height: 80px;
}
/* Added some padding to username next tp profile image */
.nav-user{
  padding-left:5px;
}
.navbar-inverse{
  border-radius: 0px;
}
.browse-padding{
  padding-left: 5px;
}
.login-padding{
  padding-left: 5px;
}
.register-padding{
  padding-left: 5px;
}
.glyphicon-user{
  font-size: 15px;
}
.glyphicon-log-in{
  font-size: 15px;
}

/* media queries for panels on food index page*/
@media only screen and (max-width: 444px) {
     .popular{
        font-size: 25px;
    }
    .top{
      margin-bottom: 25px;
    }
}
