@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Oswald|Roboto|Ubuntu');
body{
  background-color: #EEFFFF;
  font-family: 'Ubuntu', sans-serif;
}
.header-title{
  font-family: 'Baloo Bhaijaan', cursive;
}
.campgrounds{
  font-family: 'Baloo Bhaijaan', cursive;
}
.most{
  padding-bottom: 30px;
}
.form-style {
    width: 50%;
    margin: 0 auto;
}
.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
#delete-form{
  display: inline;
}
