<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
        <h1 class="header-title">Welcome to YelpCamp</h1>
        <p class="campgrounds">View our hand picked campground from all over the world!</p>
        <p>
            <!--<a class="btn btn-primary" href="/campgrounds/new">Add New Campground!</a>-->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New Campground!</button>
        </p>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="most header-title text-center">Our most popular campgrounds</h1>
        </div>
    </div>
    <div class="row animated fadeInUp" style="display: flex; flex-wrap: wrap">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail text-center">
                    <img src="<%= campground.image %>"></img>
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info!</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
              <div class="row">
                  <h1 class="text-center">Create new campground!</h1>
                  <div class="form-style">
                    <form action="/campgrounds" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name ="name" placeholder="new campground"></input>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="image" placeholder="image URL"></input>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="description" placeholder="Describe it"></input>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                        <a data-dismiss="modal">Back to campgrounds</a>
                    </form>
                  </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
